@import "../../styles/variables.scss";
.wrapper {
  padding-top: 1em;
  padding-bottom: 1em;
  border: 1px solid $lighter-grey;
  margin-top: 2em;
  margin-bottom: 2em;
  // margin-left: 2em;
  // margin-right: 2em;
  background-color: white;
  h3 {
    text-align: left;
  }
  h3 a {
    color: $yellow;
  }
  h3 a:hover {
    text-decoration: underline;
    color: $yellow;
  }
}
.title {
  border-bottom: 1px $lighter-grey solid;
}
